
{% extends "base.html" %}

{% load static %}

{% block content %}


<section class="main" style="background-image: url('{%static 'img/logo/banniere.png' %}'); "> 
  <div class="container" style="margin-right: -35%;" >
      <div class="row text-center">
          <div class="col-lg-7 col-xs-12 pt-5" >
            <h1 style=" margin-top: 20%;"> Summer Time !</h1>
            <button class="btn1 mt-3" style=" margin-top: 10%;">Soldes d'été</button>
          </div>
      </div>
  </div>
</section>

<div id="search_result">
  {% include "store/search_results.html" %}
</div>

  <section class="product" >
    <div class="container py-1" >
      <div class="row py-5" >
        <div class="col-lg-5 m-auto text-center">
          <h1>En tendance cet été</h1>
          <h6 style="color:red ;">Shopes tes articles préférés !</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
    
        </div>
      </div>
    </div>
    
    </section>

<div class="row">
    {% for product in product_object %}
  <div class="col-lg-3 text-center">
    <div class="card border-0  mb-3 " >
      <div class="card-body">
        <img src="{{ product.thumbnail.url }}" alt="" class="img-fluid">
        <!--<button class=" btn btn-warning">Voir l'article</button>
        <button class="btn btn-success">Ajouter au panier</button>-->
      </div>
    </div>
    <h6 class="card-title">{{ product.name }}</h6>
    <p class="card-text">{{ product.price }} fcfa</p>
  </div>

    {% endfor %}


    

    
</div>
 
  
  












<!--<div class="row">
    <div class="col-lg-3">
        <div class="card border-0">
            <div class="card-body">
              <img src="{% static 'img/logo/products/bague.JPG' %}" class="image-fluid" alt="">
            </div>
            <h6>bague</h6>
        </div>

    </div>

</div>-->
 


<!--<section class="product" >
<div class="container py-5" >
  <div class="row py-5" >
    <div class="col-lg-5 m-auto text-center">
      <h1>En tendance cet été</h1>
      <h6 style="color:red ;">Shopes tes articles préférés !</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">

    </div>
  </div>
</div>

</section>-->





{% endblock  %}




 
